@charset "UTF-8";

* {
	margin: 0px;
}

/* ( Cabeçario ) */

header {
	width: 100%;
	height: 90px;
	background-color: black;
}

/*Logo*/
.cont_logo {
	width: 9%;
	height: 100%;
	/*background-color: orange;*/
	float: left;
}

figure.logo {
	width: 100%;
	height: 100%;
}
figure.logo img {
	width: 100%;
	height: 100%;
}

.nom {
	width: 30%; 
	height: 100%;
	/*background-color: pink;*/
	float: left;
}
.nom h1{
	color: #757575;
	margin-top: 10px;
	font-family: gabriola;
	letter-spacing: 1px;
	font-size: 40px;
}